@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    
    font-family: 'Inter', sans-serif;
    line-height: 1.5;

}

a{
    text-decoration: none;
}

.theme-button {
    display: inline-flex;
    padding: 12px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #2783F3;
    color: #fff;
    border: none;
}

nav{
    background-color: #030630;
}

.hero-contents {
    background: linear-gradient(180deg, #03062F 0%, #180B74 100%);
    padding: 5rem 0rem 5rem 0rem;
}

.hero-contents h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0.4px;
    margin-bottom: 24px;
}

.hero-contents p {
    color: rgba(255, 255, 255, 0.70);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
}

.hero-carousel img{
    height: auto;
    max-width: 393px;
}

.owl-item.active.center {
    display: flex;
    justify-content: center;
}

.conatct-form-wrapper {
    max-width: 768px;
    border-radius: 8px;
    padding: 64px; 
    background: #FFF;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10), 0px 23px 23px 0px rgba(0, 0, 0, 0.09), 0px 51px 31px 0px rgba(0, 0, 0, 0.05), 0px 91px 36px 0px rgba(0, 0, 0, 0.01), 0px 142px 40px 0px rgba(0, 0, 0, 0.00);
}

section.contact-us{
    padding: 100px 0px 204px 0px;
    position: relative;
}

section.contact-us::before{
    content: '';
    background: url(background-element);
    position: absolute;
    top: -176px;
    left: 253px;
    width: 232px;
    height: 180px;
    z-index: -1;
}

.form-header{
    margin-bottom: 48px;
    text-align: center;
}

.form-header h2 {
    color: #03062F;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.form-header p {
    color: rgba(3, 6, 47, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-form label {
    color: #03062F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}